<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="/productList" , method="get">
                <div class="form-group">
                    <label for="productName">Product Name :</label>
                    <input type="text" class="form-control" name="productName" />
                </div>
                <div class="form-group">
                    <label for="productSerialNumber">Product Serial Number :</label>
                    <input type="text" class="form-control " name="productSerialNo" />
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity :</label>
                    <input type="number" class="form-control" name="quantity" />
                </div>
                <div class="form-group">
                    <label for="pricePerUnit">Price per Unit :</label>
                    <input type="number" class="form-control" name="pricePerUnit" />
                </div>
                <button type="submit" class="btn btn-primary">ADD</button>
            </form>
        </div>
    </div>
</div>