<div class="jumbotron text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Add Customer and Place Order</p>
    <a href="/customer" class="btn btn-dark btn-lg">Place Order for Customer</a>
</div>